.healthcare-main {
    margin-top: -71px;
    padding-top: 107px;
    padding-bottom: 129px;
    background: url("/public/images/healthcare-main-bg.png") no-repeat;
}

.healthcare-main-back {
    margin-left: 183px;
    gap: 16px;

    .action-link {
        display: block;
    }

    .action-name {
        font-size: 18px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #fff;
    }
}

.healthcare-main-info {
    margin-top: 558px;
    margin-left: 255px;
}

.healthcare-main-category {
    padding-left: 32px;
    background: url('/public/images/folder_icon.png') no-repeat;
    background-position-y: -1px;
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
    color: #B5B6B7;
}

.healthcare-main-title {
    margin-top: 24px;
    font-weight: 500;
    font-size: 52px;
    line-height: 1;
    color: #F3F3F5;
}

.healthcare-main-desc {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #B8B8B8;
}

.healthcare-container {
    margin-top: 140px;
}

.healthcare-bl-title {
    max-width: 930px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    color: #1A1A1A;
}

.healthcare-solutions-box {
    margin-top: 32px;
}

.healthcare-solutions-text {
    max-width: 690px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #5B5B5C;

    &:last-child {
        margin-bottom: 0;
    }
}

.healthcare-reason,
.healthcare-choose,
.healthcare-guarantee,
.healthcare-claim,
.healthcare-trust,
.healthcare-expertise,
.healthcare-medical,
.healthcare-projects {
    margin-top: 140px;
}

.healthcare-reason-desc {
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
    color: #5B5B5C;
}

.healthcare-reason-box {
    margin-top: 60px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 32px;
}

.healthcare-reason-item {
    width: 450px;
    height: 195px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background: url('/public/images/tag.png') no-repeat bottom right;
    border: 1px solid #D8D7DB;

    .reason-item-title {
        font-family: "RoadRadio-Bold";
        font-size: 24px;
        line-height: 1.3;
        text-transform: uppercase;
        color: #1A1A1A;
    }

    .reason-item-desc {
        margin-top: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #5B5B5C;
    }

    &:nth-child(2) {
        padding-top: 20px;
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
        height: 211px;
    }
}

.healthcare-reason-box .reason-item-huge {
    width: 1410px;
    height: 169px;

    .reason-item-title {
        text-align: center;
    }

    .reason-item-action {
        width: 193px;
        margin: 30px auto;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 20px;
        border: 1px solid #212121;

        .action-name {
            font-weight: 400;
            font-size: 17px;
            line-height: 1.2;
            color: #1A1A1A;
        }

        .action-link {
            display: block;

        }
    }
}

.healthcare-choose-desc {
    max-width: 930px;
    margin: 16px auto;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #5B5B5C;
}

.healthcare-choose-box,
.healthcare-guarantee-box,
.healthcare-trust-content {
    margin-top: 52px;
}

.healthcare-guarantee-box {
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 52px;
}

.healthcare-guarantee-item {
    width: 450px;

    .guarantee-item-num {
        width: 52px;
        height: 52px;
        background-color: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "RoadRadio-Bold";
        font-weight: 700;
        font-size: 24px;
        color: #1A1A1A;
    }

    .guarantee-item-title {
        margin-top: 39px;
        font-size: 24px;
        line-height: 1.2;
        text-transform: uppercase;
        color: #1A1A1A;
    }

    .guarantee-item-desc {
        margin-top: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: #5B5B5C;
    }
}

.healthcare-claim-quote {
    max-width: 1014px;
    margin: 0 auto;
    padding: 48px 42px;
    background: url("/public/images/healthcare-claim-quote.png") no-repeat;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #1A1A1A;
}

.healthcare-claim-idea {
    margin-top: 52px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: url("/public/images/tag.png") no-repeat bottom right;
    border: 1px solid #D8D7DB;

    .claim-idea-title {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.3;
        color: #1A1A1A;
    }

    .claim-idea-action {
        width: 222px;
        margin: 30px auto;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 16px;
        padding-left: 24px;
        padding-right: 20px;
        border: 1.5px solid #1A1A1A;

        .action-name {
            font-weight: 400;
            font-size: 17px;
            line-height: 1.2;
            text-transform: uppercase;
            color: #1A1A1A;
        }

        .action-link {
            display: block;
        }
    }
}

.healthcare-trust-desc {
    max-width: 690px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #5B5B5C;
}

.healthcare-trust-info {
    width: 330px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #D8D7DB;

    dl {
        dt {
            font-family: "RoadRadio-Bold";
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            text-transform: uppercase;
            line-height: 1.2;
            color: #1A1A1A;
        }

        dd {
            margin-top: 16px;
            font-weight: 500;
            font-size: 13px;
            text-align: center;
            line-height: 1.5;
            color: #5B5B5C;
        }
    }
}

.healthcare-expertise-box,
.healthcare-medical-box {
    margin-top: 52px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 52px;
}

.healthcare-expertise-item {
    max-width: 450px;

    .expertise-item-title {
        margin-top: 32px;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1.2;
        color: #1A1A1A;
    }

    .expertise-item-desc {
        margin-top: 24px;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.5;
        color: #5B5B5C;
    }
}

.healthcare-medical-item {
    width: 450px;
    height: 112px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    border: 1px solid #D8D7DB;

    .medical-item-title {
        font-size: 20px;
        line-height: 1.3;
        color: #1A1A1A;
    }
}

.healthcare-projects {
    padding-top: 140px;

    progress {
        width: 100%;
        margin-top: 52px;
    }
}

.helthcare-projects-box {
    margin-top: 32px;
    gap: 30px;
}

.healthcare-projects-title {
    margin: 0;
    text-align: left;
}

.helthcare-project-categories {
    gap: 24.5px;
    
    .project-categories-item {
        height: 18px;
        padding-left: 32px;
        background: url("/public/images/folder_icon.png") no-repeat;
        background-position-y: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.45;
        color: #5B5B5C;
    }
}

.healthcare-project-title {
    margin-top: 24px;
    font-size: 42px;
    line-height: 1;
    color: #1A1A1A;
}

.healthcare-project-desc {
    max-width: 689px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    color: #5B5B5C;
}

.healthcare-project-action {
    margin-top: 32px;
    gap: 8px;

    .action-name {
        font-size: 17px;
        line-height: 1.2;
        color: #1A1A1A;
    }

    .action-link {
        display: block;
        margin-top: 2px;
    }
}

.helthcare-projects-control {
    margin-top: 65px;
    gap: 30px;

    .projects-control-btn {
        display: block;
        width: 56px;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-left: 21.5px;
        padding-right: 22px;
        background-color: transparent;
        border: 1px solid #D8D7DB;
        cursor: pointer;

        &:hover {
            background-color: #FDDD0A;
            border-color: #FDDD0A;
        }
    }
}

