.home-main {
    margin-top: 84px;
    padding-bottom: 16px;
    background: url("/public/images/home-main-bg.png") no-repeat;
}

.home-main-above {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #818181;
}

.home-main-caption {
    max-width: 805px;
    margin: 4px auto;
    margin-bottom: 0;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 14px;
}

.home-main-title {
    font-size: 139px;
    text-transform: uppercase;
    color: #1A1A1A;
}

.home-main-action {
    margin-top: 92.38px;
    padding-left: 255px;
    padding-right: 72px;
}

.home-main-social {
    list-style-type: none;
    gap: 16px;

    li {
        width: 32px;
        height: 32px;
        background-color: #1A1A1A;
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: #FDDD0A;

            svg path {
                fill: #212121;
            }
        }
    }
}

.home-main-scroll {

    .scroll-title {
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: #1A1A1A;

        transform: rotate(-90deg);
    }

    .scroll-btn {
        width: 72px;
        height: 72px;
        margin-top: -92px;
        margin-left: 19px;
        background-color: #1A1A1A;
        border: 1px solid #1A1A1A;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@keyframes rotate {
    from {
        transform: rotate(360deg);
    }
}

.home-main-contact {
    transition: all 0.5s ease;

    &:hover {
        animation: rotate 1s linear infinite;
    }
}

.home-about {
    padding-top: 140px;
    padding-left: 255px;
    padding-bottom: 140px;
    background-color: #EEEEF0;
}

.home-bl-title {
    font-size: 52px;
    text-transform: uppercase;
    color: #1A1A1A;
}

.home-about-box {
    margin-top: 52px;
    gap: 30px;
}

.home-about .about-content-title {
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #1A1A1A;
}

.home-about .about-content-text {
    max-width: 689px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    color: #818181;
}

.home-about-profile {
    margin-top: 32px;
    gap: 16.32px;
}

.home-about-rating {
    gap: 4.5px;
}

.home-about-reviews {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
}

.home-services {
    margin-top: 140px;
}

.home-services-title {
    margin-left: 255px;
}

.home-services-box {
    margin-top: 52px;
    margin-left: 219px;
    flex-direction: column;
    gap: 52px;
}

.home-services-item {
    width: 1446px;
    padding-top: 52px;
    padding-right: 240px;
    border-top: 1px solid #D8D7DB;

    .services-item-title {
        width: 304px;
        font-weight: 600;
        font-size: 52px;
        line-height: 1.5;
        color: #1A1A1A;

        sup {
            margin-right: 10px;
            font-weight: 500;
            font-size: 17px;
            color: #818181;
        }

        span {
            margin-left: 40px;
        }
    }

    .services-item-desc {
        max-width: 450px;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.5;
        color: #818181;
    }
}

.home-services-item:last-child {
    padding-bottom: 52px;
    border-bottom: 1px solid #D8D7DB;
}

.home-expertise {
    margin-top: 156px;
    margin-left: 255px;
    margin-right: 255px;
}

.home-expertise-box {
    margin-top: 84px;
    flex-direction: column;
    gap: 63px;
}

.home-expertise-item {
    .expertise-item-title {
        font-weight: 600;
        font-size: 42px;
        color: #1A1A1A;
    }

    .expertise-item-num {
        font-weight: 500;
        font-size: 17px;
        color: #818181;
    }
}

.home-projects {
    margin-top: 314px;
    margin-left: 255px;
}

.home-projects-box {
    margin-top: 52px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 52px;
}

.home-projects-box>div:nth-child(2),
.home-projects-box>div:nth-child(4),
.home-projects-box>div:nth-child(6) {
    margin-top: 20px;
}

.home-projects-more {
    width: 1440px;
    margin-top: 52px;
    padding-top: 32px;
    padding-bottom: 32px;
    border: 1px solid #D8D7DB;
    justify-content: center;
    gap: 10px;

    .projects-more-title {
        font-size: 20px;
        text-transform: uppercase;
        color: #1A1A1A;
    }
}

.home-reviews {
    margin-top: 280px;
    margin-left: 255px;

    progress {
        width: 1440px;
        margin-top: 52px;
    }
}

.home-reviews-content {
    margin-top: 52px;
    gap: 30px;
}

.home-reviews-video {
    flex-shrink: 0;
}

.home-reviews-caption {
    width: 684px;
    align-items: flex-end;
}

.home-reviews-category {
    font-size: 15px;
    line-height: 1.2;
    color: #818181;
}

.home-reviews-num {
    font-weight: 100;
    font-size: 128px;
    line-height: 1;
    color: #D8D7DB;
}

.home-reviews-author {
    margin-top: 20px;
    font-size: 32px;
    line-height: 1;
    color: #1A1A1A;
}

.home-reviews-details {
    margin-top: 50px;
    gap: 16.32px;
}

.home-reviews-rating {
    gap: 5.4px;
}

.home-reviews-date {
    margin-top: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #1A1A1A;
}

.arrow-actions {
    margin-top: 41px;
    margin-left: 548px;
    gap: 30px;

    button {
        display: block;
        width: 56px;
        height: 56px;
        background-color: transparent;
        border: 1px solid #D8D7DB;
        cursor: pointer;

        &:hover {
            background-color: #FDDD0A;
            border: none;
        }
    }
}

.home-info {
    margin-top: 280px;
    margin-left: 255px;
}

.home-info-box {
    margin-top: 52px;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
}

.home-info-statistics {
    width: 450px;
    margin-top: 20px;
    flex-wrap: wrap;
    column-gap: 92px;
    row-gap: 52px;
    padding-left: 37px;
    padding-right: 26px;

    dl {
        font-weight: 600;
        text-align: center;
        color: #1A1A1A;

        dt {
            font-size: 64px;
            line-height: 1;

        }

        dd {
            margin-top: 24px;
            font-size: 16px;
            line-height: 1;
        }
    }
}

.home-info-box>div:nth-child(5) {
    margin-top: -77px;
}