.project-categories {
    width: 1052.5px;
    margin-top: 32px;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 20.5px;
}

.project-categories-btn {
    display: block;
    height: 18px;
    padding-left: 32px;
    background: transparent url("/public/images/folder_icon.png") no-repeat;
    border: none;
    cursor: pointer;
    font-family: "RoadRadio-Bold";
    font-weight: 700; 
    font-size: 14px;
    text-transform: uppercase;
    text-align: left;
    color: #818181;
}

.project-categories .categories-btn__active {
    background: transparent url("/public/images/active_folder_icon.png") no-repeat;
    color: #1A1A1A;
}

.projects-box {
    margin-top: 52px;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 52px;
} 