* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 1920px;
  margin: 0 auto;
  background-color: #F3F3F5;
  font-family: 'Gilroy-Medium', sans-serif;
}

.d-b {
  display: block;
}

.d-f {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-sa {
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.d-n {
  display: none;
}

.d-b {
  display: block;
}

.pos-r {
  position: relative;
}

.btn-clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.cur-p {
  cursor: pointer;
}

.title {
  font-family: "RoadRadio-Bold";
}

.page-title {
  font-size: 52px;
  text-transform: uppercase;
  color: #1A1A1A;
}

.container {
  margin-top: 52px;
  margin-bottom: 72px;
  margin-left: 255px;
  margin-right: 255px;
}

